* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px; /* Define uma base de 16px para rem */
}

body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
}

header {  
    position: fixed;
    height: 3.2rem; /* 51px em rem */
    background-color: #0E0F11;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    transition: 0.5s ease;
}

header.transparent {
    background-color: rgba(14, 15, 17, 0.74);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 1.25rem; /* 20px em rem */
}

.nav-list li a {
    text-decoration: none;
    color: #717171;
    font-size: 0.9375rem; /* 15px em rem */
    font-weight: bold;
}

.nav-list li a:hover {
    color: #fff;
    box-shadow: 0 0.3125rem 5rem rgba(233, 233, 233, 0.25); /* 5px em rem */
}

main {
    padding-top: 3.2rem; /* 51px em rem */
    background-color: rgb(17, 51, 51);
}

/* Page Home */

#home {
    background-color: #06141B;
}

.container-home {
    display: flex;
    gap: 3.125rem; /* 50px em rem */
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    height: 34.375rem; /* 550px em rem */
    margin: 0 auto;
}

.component_left_home img {
    border-radius: 50%;
    width: 25rem; /* 400px em rem */
    height: 25rem; /* 400px em rem */
}

.component_left_home img:hover {  
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.25); /* 10px em rem */
    transform: translateY(-0.625rem); /* 10px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.component_right_home {
    flex-direction: column;
}

.title {
    width: 31.25rem; /* 500px em rem */
    height: 8.3125rem; /* 133px em rem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1.875rem; /* 30px em rem */
}

.title p {
    font-size: 2.1875rem; /* 35px em rem */
    text-align: left;  
    color: #717171;
    line-height: 1.2;
    width: 8.75rem; /* 140px em rem */
}

.title p:hover {
    color: #e0e0e0e8;
}

.title span {
    font-size: 3.4375rem; /* 55px em rem */
    padding-left: 1.875rem; /* 30px em rem */
    text-align: center; 
    color: #ebebeb;    
    line-height: 0.9;
}

.resume {
    background-color: #2014143f;
    text-align: center;
    width: 6.875rem; /* 110px em rem */
    height: 1.875rem; /* 30px em rem */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem; /* 5px em rem */
    border: 0.0625rem solid rgb(255, 255, 255); /* 1px em rem */
    gap: 0.3125rem; /* 5px em rem */
    padding: 0.5rem 1.25rem; /* 8px 20px em rem */
    margin: 0.625rem auto 0; /* 10px em rem */
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume:hover {
    background-color: #292929c7;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.25); /* 10px em rem */
    transform: translateY(-0.3125rem); /* 5px em rem */
}

.resume img {
    width: 1.25rem; /* 20px em rem */
    height: 1.125rem; /* 18px em rem */
}

.resume span {
    font-size: 0.9375rem; /* 15px em rem */
    align-items: center;
}

/* Page About Me */

#about-me {
    background: linear-gradient(#06141B, #0B2B3A);
}

.container_about-me {
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    height: 58.125rem; /* 930px em rem */
    padding-top: 6.25rem; /* 100px em rem */
    margin: 0 auto;
}

.title_about-me p {
    font-size: 3.4375rem; /* 55px em rem */
    color: #ebebeb;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3.125rem; /* 50px em rem */
}

.container-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1.25rem; /* 20px em rem */
    width: 90%;
    max-width: 68.75rem; /* 1100px em rem */
    margin: 0 auto;
}

.box {
    background-color: #180d0d5b;
    color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.5625rem; /* 25px em rem */
    padding: 1.25rem; /* 20px em rem */
    height: 12.5rem; /* 200px em rem */
    width: 31.25rem; /* 500px em rem */
    gap: 1.25rem; /* 20px em rem */
}

.box:hover {
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.25); /* 10px em rem */
    transform: translateY(-0.625rem); /* 10px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.box_organization {
    grid-column: 1 / 2;
}

.box_education {
    grid-column: 2 / 3;
}

.box_motivation {
    grid-column: 1 / 3;
    justify-self: center;
}

.box_experience {
    grid-column: 1 / 2;
}

.box_developer {
    grid-column: 2 / 3;
}

/* Page Skills */

#skills {
    background: linear-gradient(#0B2B3A, #164A63);
}

.container-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    height: 37.5rem; /* 600px em rem */
    padding-top: 6.25rem; /* 100px em rem */
    align-items: center;
    gap: 3.125rem; /* 50px em rem */
    margin: 0 auto;
}

.title_skills {
    font-size: 3.4375rem; /* 55px em rem */
    color: #ebebeb;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3.125rem; /* 50px em rem */
}

.iconsSkills {
    background-color: #0e0f11bd;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto;
    column-gap: 1.5625rem; /* 25px em rem */
    row-gap: 1.875rem; /* 30px em rem */
    width: 100%;
    max-width: 68.75rem; /* 1100px em rem */
    justify-items: center;
    align-items: center;
    padding: 1.25rem; /* 20px em rem */
    border-radius: 1.875rem; /* 30px em rem */
}

.iconsSkills img {
    height: 4rem; 
    width: 4rem; 
}

.iconsSkills:hover {
    background-color: #0e0f11cc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.589); 
    transform: translateY(-15px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.ic {
    width: 3.125rem; /* 50px em rem */
    height: auto;
}

.ic:hover {
    transform: translateY(-0.9375rem); /* 15px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.125); /* #ffffff20 em rgba */
    padding: 0.625rem; /* 10px em rem */
    border-radius: 50%;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3); /* 5px 15px em rem */
}

.iconsSkills .iconOracle,
.iconsSkills .iconVsCode,
.iconsSkills .iconAws,
.iconsSkills .iconSpring,
.iconsSkills .iconGit {
    grid-column: span 1;
}

.iconsSkills .iconOracle {
    grid-column: 2 / 3;
}

.iconsSkills .iconVsCode {
    grid-column: 3 / 4;
}

.iconsSkills .iconAws {
    grid-column: 4 / 5;
}

.iconsSkills .iconSpring {
    grid-column: 5 / 6;
}

.iconsSkills .iconGit {
    grid-column: 6 / 7;
}

/* Page Projects */

#project {
    background: linear-gradient(#164A63, #397490);
}

.container-projects {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 75rem; /* 1200px em rem */
    height: 50rem; /* 800px em rem */
    padding-top: 6.25rem; /* 100px em rem */
    margin: 0 auto;
    align-items: center;
    gap: 3.125rem; /* 50px em rem */
}

.title_projects {
    font-size: 3.4375rem; /* 55px em rem */
    color: #161616;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3.125rem; /* 50px em rem */
}

.boxes-projects {
    background-color: rgba(14, 15, 17, 0.741); /* #0e0f11bd em rgba */
    width: 100%;
    height: 31.25rem; /* 500px em rem */
    border-radius: 0.9375rem; /* 15px em rem */
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding-left: 21.25rem; /* 340px em rem */
}

.boxes-projects:hover {
    background-color: rgba(14, 15, 17, 0.8); /* #0e0f11cc em rgba */
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.589); /* 10px 20px em rem */
    transform: translateY(-0.9375rem); /* 15px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-slide {
    display: flex;
    gap: 1.5625rem; /* 25px em rem */
    transition: transform 0.3s ease;
}

.pr {
    border: 0.0625rem solid rgba(201, 201, 201, 0.856); /* 1px em rem */
    background-color: rgba(14, 15, 17, 0.768); /* #0e0f11c5 em rgba */
    width: 20.3125rem; /* 325px em rem */
    height: 28.125rem; /* 450px em rem */
    border-radius: 0.9375rem; /* 15px em rem */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem; /* 10px em rem */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.555); /* 4px 8px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    position: relative;
    overflow: hidden; /* Garante que o hover afete toda a área do projeto */
}

.pr img {
    width: 100%;
    height: 12.5rem; /* 200px em rem */
    border-radius: 0.9375rem; /* 15px em rem */
    padding-bottom: 0.625rem; /* 10px em rem */
}

.pr:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); /* 8px 16px em rem */
    background-color: rgba(14, 15, 17, 0.898); /* #0e0f11e5 em rgba */
}

.pr:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.9375rem; /* 15px em rem */
    background: rgba(29, 29, 29, 0.658);
    z-index: 1;
    backdrop-filter: blur(0.3125rem); /* 5px em rem */
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.project-content {
    padding: 0.625rem; /* 10px em rem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px em rem */
    position: relative; 
    z-index: 2; 
}

.txt_project-description {
    color: #fff;
    text-align: center;
    font-size: 1rem; /* 16px em rem */
    font-weight: bold; 
    margin-bottom: 0.625rem; /* 10px em rem */
}

.txt_project-tecnologias {
    color: #fff;
    text-align: center;
    font-size: 0.875rem; /* 14px em rem */
    line-height: 1.5; 
    margin-top: 0; 
}

.project-links {
    display: none; 
    gap: 0.625rem; /* 10px em rem */ 
    position: absolute;
    top: -8.125rem; /* -130px em rem */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Garante que os botões fiquem acima do overlay */
}

.btn-github, .btn-deploy, .btn-progress {
    background-color: #161616;
    color: #fff;
    border: none;
    padding: 0.625rem 0.9375rem; /* 10px 15px em rem */
    border-radius: 0.3125rem; /* 5px em rem */
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-size: 0.875rem; /* 14px em rem */
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 4; /* Garante que os botões fiquem acima do overlay */
}

.btn-github:hover, .btn-deploy:hover {
    background-color: #444;
}

.btn-progress {
    color: #01803aef;
}

.pr:hover .project-links {
    display: flex; /* Mostrar os botões ao passar o mouse */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(22, 22, 22, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.625rem; /* 10px em rem */
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 0.625rem; /* 10px em rem */
}

.next {
    right: 0.625rem; /* 10px em rem */
}

.prev img, .next img {
    width: 1.25rem; /* 20px em rem */
    height: 1.25rem; /* 20px em rem */
}

.prev:hover, .next:hover {
    background-color: rgba(231, 231, 231, 0.185);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.589); /* 10px 20px em rem */
    transform: translateY(-1.5625rem); /* 25px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxes-projects::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: linear-gradient(to left, rgba(8, 8, 8, 0.993), rgba(9, 10, 10, 0.877), rgba(16, 16, 17, 0.637), rgba(12, 13, 14, 0.486), rgba(12, 13, 14, 0.048));
    z-index: 1;
}






/* Page Contact */

#contact {
    background: linear-gradient(#397490, #71ABC7);
}

.container-contact {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 75rem; /* 1200px em rem */
    height: auto;
    padding-top: 6.25rem; /* 100px em rem */
    padding-bottom: 6.25rem; /* 100px em rem */
    margin: 0 auto;
    align-items: center;
    gap: 3.125rem; /* 50px em rem */
}

.title_contact {
    font-size: 3.4375rem; /* 55px em rem */
    color: #161616;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3.125rem; /* 50px em rem */
}

.box_Contact {
    background-color: #0e0f11bd;
    width: 100%;
    height: 31.25rem; /* 500px em rem */
    border-radius: 0.9375rem; /* 15px em rem */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_Contact:hover {
    background-color: #0e0f11cc;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.589); /* 10px 20px em rem */
    transform: translateY(-0.9375rem); /* 15px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-box {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.box_email {
    display: flex;
    width: 60%;
    height: 25rem; /* 400px em rem */
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem; /* 10px em rem */
}

.txt_contact {
    color: #fff;
    font-size: 0.8125rem; /* 13px em rem */
}

.input_contact, .input_txt {
    background-color: #5B5B5B;
    border-radius: 0.625rem; /* 10px em rem */
    border: 0.0625rem solid #fff; /* 1px em rem */
    color: #ffffff;
    width: 100%;
    padding: 0.625rem; /* 10px em rem */
    box-sizing: border-box;
    position: relative;
    overflow: hidden; 
    text-align: center;
}

.input_contact {
    height: 3.125rem; /* 50px em rem */
}

.input_txt {
    height: 9.375rem; /* 150px em rem */
    overflow: auto; 
}

.input_contact:hover, .input_txt:hover {
    background-color: #0e0f11cc;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.589); /* 10px 20px em rem */
    transform: translateY(-0.5rem); /* 8px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

input::placeholder, .input_txt::placeholder {
    color: #ffffffb0;
    position: absolute;
    top: 0.625rem; /* 10px em rem */
    left: 0.625rem; /* 10px em rem */
    pointer-events: none;
}

.send {
    background-color: #5B5B5B;
    width: 30%;
    height: 2.5rem; /* 40px em rem */
    border-radius: 1.25rem; /* 20px em rem */
    border: 0.0625rem solid #fff; /* 1px em rem */
    color: #fff;
    align-self: center;
}

.send:hover {
    background-color: #8d8d8dcc;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.589); /* 10px 20px em rem */
    transform: translateY(-0.25rem); /* 4px em rem */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.input_wrapper {
    padding-bottom: 0.75rem; /* 12px em rem */
}

.box_buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem; /* 25px em rem */
}

.box_buttons a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.875rem; /* 30px em rem */
    color: #fff; 
}

.box_buttons a ion-icon {
    color: #fff;
}

.icon-linkedin:hover::after {
    content: "LinkedIn";
    background: linear-gradient(#1d20c4c0,#3536798e);
    border-radius: 0.3125rem; /* 5px em rem */
}

.icon-github:hover::after {
    content: "GitHub";
    background: linear-gradient(#cfcfcf83,#92929296);
    border-radius: 0.3125rem; /* 5px em rem */
}

.icon-instagram:hover::after {
    content: "Instagram";
    background: linear-gradient(#5e00acd2, #ff1aa7d0, #ff0e0ecb, #ffd30cd7);
    border-radius: 0.3125rem; /* 5px em rem */
}

.icon-email:hover::after {
    content: "Email";
    background: linear-gradient(#ff0e0ecb,#c74949c5);
    border-radius: 0.3125rem; /* 5px em rem */
}

/* Estilos para o rodapé */

footer {
    background-color: #161616;
    color: #fff;
    padding: 0.625rem 0; /* 10px em rem */
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    max-width: 75rem; /* 1200px em rem */
    margin: 0 auto;
    padding: 1.25rem; /* 20px em rem */
    justify-content: center;
    align-items: center;
}

.back-to-home {
    margin-left: auto;
}

/* Media Queries */

@media (max-width: 1200px) {
    .container-home {
        flex-direction: column;
        height: auto;
    }

    .component_left_home img {
        width: 20rem; /* 320px em rem */
        height: 20rem; /* 320px em rem */
    }

    .title {
        width: 100%;
    }

    .title p, .title span {
        font-size: 1.875rem; /* 30px em rem */
    }

    .resume {
        width: 5.625rem; /* 90px em rem */
        height: 1.5625rem; /* 25px em rem */
    }
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        margin: 0.625rem; /* 10px em rem */
    }

    .container-home {
        height: auto;
        padding: 1.25rem; /* 20px em rem */
    }

    .component_left_home img {
        width: 15rem; /* 240px em rem */
        height: 15rem; /* 240px em rem */
    }

    .title {
        width: 100%;
    }

    .title p, .title span {
        font-size: 1.5rem; /* 24px em rem */
    }

    .resume {
        width: 4.375rem; /* 70px em rem */
        height: 1.25rem; /* 20px em rem */
    }

    .container-boxes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .box {
        width: 100%;
        height: auto;
    }

    .iconsSkills {
        grid-template-columns: repeat(4, 1fr);
    }

    .iconsSkills img {
        height: 3.125rem; /* 50px em rem */
        width: 3.125rem; /* 50px em rem */
    }

    @media (max-width: 1200px) {
    .container-projects {
        height: auto;
        padding-top: 3.125rem; /* 50px em rem */
        gap: 2.5rem; /* 40px em rem */
    }

    .boxes-projects {
        padding-left: 2.5rem; /* 40px em rem */
    }

    .title_projects {
        font-size: 2.5rem; /* 40px em rem */
    }

    .box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container-projects {
        padding-top: 1.875rem; /* 30px em rem */
    }

    .boxes-projects {
        height: auto;
        padding-left: 1.25rem; /* 20px em rem */
    }

    .project-slide {
        flex-direction: column;
        gap: 1.25rem; /* 20px em rem */
    }

    .pr {
        width: 100%;
        height: auto;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.555); /* 4px 8px em rem */
    }

    .pr img {
        height: 12.5rem; /* 200px em rem */
    }

    .project-links {
        top: -6.25rem; /* -100px em rem */
    }

    .prev img, .next img {
        width: 1rem; /* 16px em rem */
        height: 1rem; /* 16px em rem */
    }
}
}

@media (max-width: 1200px) {
    .container-projects {
        height: auto;
        padding-top: 3.125rem; /* 50px em rem */
        gap: 2.5rem; /* 40px em rem */
    }

    .boxes-projects {
        padding-left: 2.5rem; /* 40px em rem */
    }

    .title_projects {
        font-size: 2.5rem; /* 40px em rem */
    }

    .box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container-projects {
        padding-top: 1.875rem; /* 30px em rem */
    }

    .boxes-projects {
        height: auto;
        padding-left: 1.25rem; /* 20px em rem */
    }

    .project-slide {
        flex-direction: column;
        gap: 1.25rem; /* 20px em rem */
    }

    .pr {
        width: 100%;
        height: auto;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.555); /* 4px 8px em rem */
    }

    .pr img {
        height: 12.5rem; /* 200px em rem */
    }

    .project-links {
        top: -6.25rem; /* -100px em rem */
    }

    .prev img, .next img {
        width: 1rem; /* 16px em rem */
        height: 1rem; /* 16px em rem */
    }
}

@media (max-width: 1200px) {
    .container-contact {
        padding-top: 3.125rem; /* 50px em rem */
        padding-bottom: 3.125rem; /* 50px em rem */
        gap: 2.5rem; /* 40px em rem */
    }

    .title_contact {
        font-size: 2.5rem; /* 40px em rem */
        padding-bottom: 2.5rem; /* 40px em rem */
    }

    .box_Contact {
        height: auto;
    }

    .box_email {
        width: 100%;
        height: auto;
    }

    .contact-box {
        width: 100%;
    }

    .send {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container-contact {
        padding-top: 1.875rem; /* 30px em rem */
        padding-bottom: 1.875rem; /* 30px em rem */
    }

    .title_contact {
        font-size: 1.875rem; /* 30px em rem */
        padding-bottom: 1.875rem; /* 30px em rem */
    }

    .box_Contact {
        height: auto;
    }

    .box_email {
        width: 100%;
        height: auto;
    }

    .send {
        width: 60%;
    }

    .box_buttons {
        gap: 1.25rem; /* 20px em rem */
    }

    .box_buttons a {
        font-size: 1.25rem; /* 20px em rem */
    }
}