* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
  }

body{
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
}

    /* Header */   

header{  
    position: fixed;
    height: 51px;  
    background-color: #0E0F11;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    transition: 0.5s ease;
}

header.transparent {
    background-color: rgba(14, 15, 17, 0.74);
}

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-list li{
    margin: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: #717171;
    font-size: 15px;      
    font-weight: bold;
}

.nav-list li a:hover {
    color: #fff;
}

main{
    padding-top: 51px;
    background-color: rgb(17, 51, 51);
}

/* Page Home */

#home{
    background-color: #06141B;
}

.container-home{
    /* border: 1px solid purple;  */
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 550px;
}

.component_left_home img{   
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.component_left_home img:hover{  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
    transform: translateY(-10px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.component_right_home{
    flex-direction: column;
}

.title{
    /* border: 1px solid purple; */
    width: 500px;
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.title p{
    font-size: 35px;
    text-align: left;  
    color: #717171;
    line-height: 1.2;
    width: 140px;
}

.title p:hover{
    color: #e0e0e0e8;
}

.title span{
    font-size: 55px;
    padding-left: 30px;
    text-align: center; 
    color: #ebebeb;    
    line-height: 0.9;
}

.resume {
    background-color: #2014143f;
    text-align: center;
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    gap: 5px;
    padding: 8px 20px;
    margin: 10px auto 0;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume:hover {
    background-color: #292929c7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
    transform: translateY(-5px); 
}

.resume img {
    width: 20px;
    height: 18px;
}

.resume span {
    font-size: 15px;      
    align-items: center;
}

/* Page About Me */

#about-me{
    background: linear-gradient(#06141B,#0B2B3A);
}

.container_about-me{
    /* border: 1px solid purple;  */
    flex-direction: column;
    width: auto;
    height: 930px;
    padding-top: 100px;
}

.title_about-me p{
    font-size: 55px;
    color: #ebebeb;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

.container-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.box {
    background-color: #180d0d5b;
    color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    height: 200px;
    width: 500px;
    gap: 20px;
}

.box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
    transform: translateY(-10px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.box_organization {
    grid-column: 1 / 2;
}

.box_education {
    grid-column: 2 / 3;
}

.box_motivation {
    grid-column: 1 / 4;
    justify-self: center;
}

.box_experience {
    grid-column: 1 / 2;
}

.box_developer {
    grid-column: 2 / 3;
}

