body{
    background-color: #06141B;
    margin: 0;   
    padding: 0;
    width: 100%;
    height: 100%;
    border: 1px solid red; 
}
header{  
    height: 51px;
    background-color: #0E0F11;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
}